################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/back/Termo.API/appsettings.json
/back/Termo.API/appsettings.Development.json
